<section>
    <div class="mg-hero">
        <!-- {{ userProfileVM.hi }} -->
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col m5">
                <!-- user image slider -->
                <div class="slider" slider>
                    <ul class="slides">
                        <li class="slider-slides-margin">
                            <img class="slider-img-width" ng-src="{{ userProfileVM.userData.userImg_landscapeURL }}"/>
                        </li>
                        <li class="slider-slides-margin">
                            <img class="slider-img-width" ng-src="{{ userProfileVM.userData.userImg_portraitURL }}" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col m7">
                <!-- user public data: name, age, city, motto -->
                <h4>{{ userProfileVM.userData.first_name }}</h4>
                <span>{{ userProfileVM.userData.city }}</span>
                <p>{{ userProfileVM.userData.about_me }}</p>
                <section>
                    <h5>interested in:</h5>
                    <ul>
                        <li class="hobby-item" ng-repeat="hobby in userProfileVM.userHobbies">{{ hobby }}</li>
                    </ul>
                    <h5>available on days:</h5>
                    <ul>
                        <li class="days-available" ng-repeat=""></li>
                    </ul>
                </section>
                <section
            </div>
        </div>
    </div>
</section>
