<section class="section">
    <div class="container">
        <div class="row">
            <div class="col l12">
                <h4 class="center-align">How to "Never Eat Alone"</h4>
                <p class="center-align">Create lifelong friendships, find a mentor, pitch an idea, or just come enjoy a casual conversation ... in your lunch break/during happy hour/after a study break/or after a workout.</p>
                <p class="center-align">When you Dine.With.Me., you'll never eat alone.</p>
            </div>
        </div>
        <div class="row">
            <div class="col l12">
                <div masonry load-images="true" column-width="300" reload-on-show reload-on-resize>
                    <div class="masonry-brick" ng-repeat="user in browseVM.usersList">
                        <div class="card large card--specs">
                            <div class="card-image">
                                <img firebase-src="{{ user.userImg_landscapePath }}" alt="{{ user.first_name }}">
                                <div class="card-title card-title--specs">
                                    {{ user.first_name }}
                                </div>
                            </div>
                            <div class="card-content">
                                <blockquote>{{ user.motto }}</blockquote>
                                <ul class="availability">
                                    <lh>
                                        <div class="zip--codes">LetsGrub in the {{ user.grub_zip1 }}<span ng-if="user.grub_zip2"> or {{ user.grub_zip2 }}</span>:</div>
                                    </lh>
                                    <li class="grub-time" ng-if="user.availability_breakfast === true"><a ui-sref="#!">breakfast</a></li>
                                    <li class="grub-time" ng-if="user.availability_brunch === true"><a ui-sref="#!">brunch</a></li>
                                    <li class="grub-time" ng-if="user.availability_lunch === true"><a ui-sref="#!">lunch</a></li>
                                    <li class="grub-time" ng-if="user.availability_happyHour === true"><a ui-sref="#!">happy hour</a></li>
                                    <li class="grub-time" ng-if="user.availability_dinner === true"><a ui-sref="#!">dinner</a></li>
                                    <li class="grub-time" ng-if="user.availability_fourthMeal === true"><a ui-sref="#!">fourth meal</a></li>
                                </ul>
                            </div>
                            <div class="card-action center-align card-action--align">
                                <!-- <a ui-sref="userProfile({ userId: user.$id })" class="center-align">View Profile</a> -->
                                <a ng-click="browseVM.viewProfile(user.$id)">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
